@import url(https://fonts.googleapis.com/css?family=Roboto:300);

#login-page {
  float: left;
  width: 60%;
  padding-top: 10%;
  padding: 8% ;
  margin: 10%;

}
  #cont1
  {
    width: 47%;
    float:left;
    margin: 0;
    padding: 2px;
 
  }

 #cont2
  {
    width: 50%;
    float:left;
    margin: 0;

 
  }
img {
   
    padding: 10px;
    width: 120px;
}



.form {
    border-left-style: solid;
    border-left-width: 1px;
    border-color: #FFF100;
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #FFF100;;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #29363F;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:active,.form button:focus {
  background: #43A047;
}

.form button:hover{  color:#ffffff; background: #43A047;}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #FFF100;;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #3F493D;/* fallback for old browsers */
  background: -webkit-linear-gradient(right, #29363F, #29363F);
  background: -moz-linear-gradient(right, #29363F, #29363F);
  background: -o-linear-gradient(right, #29363F,#29363F);
  background: linear-gradient(to left,#29363F, #29363F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}