.table_form{
	border: 2px solid #98BDCF;
	width: 600px;
	background-color: #F7F8FB;
	font-family: tahoma, verdana;
	font-size: 12px;
	font-weight:bold;
	margin-top: 20px;
	}
.table_form tr{
	height: 35px;
	}

.table_form tr.table_form_header{
	background: url("images/header_background.gif") repeat-x right bottom; background-color: #ffffff; border: 1px solid #688caf; padding:4px; padding-right: 5px; padding-left: 5px; font-weight: bold; font-size: 13px; color: #333333;
	text-align: center;
	height: 30px;
	}

.table_form tr.submit{
	text-align: right;
	background: url("images/header_background.gif") repeat-x right bottom; background-color: #ffffff; border: 1px solid #688caf; padding:4px; padding-right: 5px; padding-left: 5px; font-weight: bold; font-size: 13px; color: #333333;
	text-align: right;
	height: 20px;
	border: none;
	}
	
.table_form tr.submit input{
	background: transparent;
	border: none;
	color: #000000;
	cursor: pointer;
	font-weight: bold;
	}
	
.table_form tr.submit input:hover{
	color: brown;
	text-decoration: underline;
	}
	
.table_form tr td{
	text-indent: 5px;
	border-bottom:1px solid #D0D7E5;
	}

.table_form tr th{
	
	border-bottom:1px solid #D0D7E5;
	padding-right: 10px;
	}
	
.table_form input[type="text"], .table_form select{
	border: 1px solid #98BCDF;
	background-color: lightYellow;
	width: 250px;
	}
		
.td_label{
	border-right: 1px solid #D0D7E5;
	width: 170px;
	}
	

	
	.table_view{
	border: 2px solid #98BDCF;
	width: 1000px;
	background-color: #F7F8FB;
	font-family: tahoma, verdana;
	font-size: 12px;
	font-weight:bold;
	margin-top: 20px;
	}
.table_view tr.header{
	background: url("images/header_background.gif") repeat-x right bottom; background-color: #ffffff; border: 1px solid #688caf; padding:4px; padding-right: 5px; padding-left: 5px; font-weight: bold; font-size: 13px; color: #333333;
	text-align: left;
	height: 30px;
	
	}
	.table_view tr.header td, .table_view tr.header th{
	text-align: left;
	border-right: 1px solid #D0D7E5;
	}
	
.table_view tr.list td{
	font-weight: normal;
	border-right: 1px solid #D0D7E5;
	border-bottom: 1px solid #D0D7E5;
	padding-top: 3px;
text-indent:10px;
	padding-bottom: 3px;
	}	
		
