/* common classes */
pre { PADDING: 0px; MARGIN: 0px; }

.dg_left { TEXT-ALIGN: left; }
.dg_center { TEXT-ALIGN: center; }
.dg_right { TEXT-ALIGN: right; }
.dg_nowrap { WHITE-SPACE: nowrap; }
.dg_underline { TEXT-DECORATION: underline; }
.resizable-textarea .grippie { BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 0px solid;  OVERFLOW: hidden; BORDER-LEFT: #ddd 1px solid; CURSOR: s-resize; BORDER-BOTTOM: #ddd 1px solid; HEIGHT:6px; }

a.gray_dg_a { BACKGROUND: transparent; FONT-SIZE:11px; COLOR: #808080; TEXT-DECORATION: none; }
a.gray_dg_a:link { BACKGROUND: transparent; FONT-SIZE:11px; COLOR: #808080; TEXT-DECORATION: none; }
a.gray_dg_a:hover { BACKGROUND: transparent; FONT-SIZE:11px; COLOR: #808080; TEXT-DECORATION: underline; }
a.gray_dg_a:visited { }
a.gray_dg_a2 { BACKGROUND: transparent; FONT-SIZE:11px; COLOR: #808080; TEXT-DECORATION: none; }
a.gray_dg_a2:link { BACKGROUND: transparent; FONT-SIZE:11px; COLOR: #808080; TEXT-DECORATION: underline; }
a.gray_dg_a2:hover { BACKGROUND: transparent; FONT-SIZE:11px; COLOR: #808080; TEXT-DECORATION: none; }
a.gray_dg_a2:visited {  }
/* columns header links */
a.gray_dg_a_header {       BACKGROUND: transparent; FONT-SIZE:12px; COLOR: #fafafa; TEXT-DECORATION: none; }
a.gray_dg_a_header:link {  BACKGROUND: transparent; FONT-SIZE:12px; COLOR: #fafafa; TEXT-DECORATION: none; }
a.gray_dg_a_header:hover { BACKGROUND: transparent; FONT-SIZE:12px; COLOR: #fafafa; TEXT-DECORATION: none; }
a.gray_dg_a_header:visited { }

.gray_dg_fieldset { MARGIN: 0px; BORDER: 1px solid #cecece;}
.gray_dg_filter_table { font-family: Arial, Helvetica, sans-serif, Verdana; BORDER:0px solid #000000; FONT-SIZE: 11px;BORDER-COLLAPSE:collapse;MARGIN:0;PADDING:0;}
.gray_dg_filter_table tr td { FONT-SIZE: 11px; }
.gray_dg_legend { }
.gray_dg_paging_table { BORDER: #d0d0d0 0px solid; font-family: Arial, Helvetica, sans-serif, Verdana; FONT-SIZE: 11px;}
.gray_dg_paging_table tr td { FONT-SIZE: 11px; }
.gray_dg_table { BORDER-COLLAPSE: collapse; FONT-SIZE: 11px; BORDER: #d0d0d0 1px solid; BORDER-COLLAPSE:collapse; font-family: Arial, Helvetica, sans-serif, Verdana;}

.gray_dg_th {          BACKGROUND: url(images/header_background.gif) repeat-x right bottom; FONT: bold 13px; COLOR: #fefefe; TEXT-INDENT: 7px; VERTICAL-ALIGN:center;BORDER:1px solid #d0d0d0; PADDING: 2px; PADDING-TOP: 4px; BORDER-TOP:0px; PADDING-BOTTOM: 4px;}
.gray_dg_th_normal {   BACKGROUND: url(images/header_background.gif) repeat-x right bottom; FONT: bold 13px; COLOR: #fefefe; BACKGROUND-COLOR: #dedede;TEXT-INDENT: 7px; VERTICAL-ALIGN:center;BORDER:1px solid #d0d0d0; BORDER-TOP:0px; PADDING: 2px; PADDING-TOP: 4px; PADDING-BOTTOM: 4px;}
.gray_dg_th_selected { BACKGROUND: url(images/header_background.gif) repeat-x right bottom; FONT: bold 13px; COLOR: #fefefe; BACKGROUND-COLOR: #dedede;TEXT-INDENT: 7px; VERTICAL-ALIGN:center;BORDER:1px solid #d0d0d0; BORDER-TOP:0px; PADDING: 2px; PADDING-TOP: 4px; PADDING-BOTTOM: 4px;}

.gray_dg_td {          font-family: Arial, Helvetica, sans-serif, Verdana; FONT-SIZE:12px; VERTICAL-ALIGN:center;LINE-HEIGHT: 17px;TEXT-INDENT: 7px; BORDER:1px solid #e0e0e0;PADDING-LEFT: 6px;PADDING-RIGHT: 6px;}
.gray_dg_td_main {     font-family: Arial, Helvetica, sans-serif, Verdana; FONT-SIZE:12px; LINE-HEIGHT: 17px;FONT-WEIGHT: bold;COLOR: #000000;TEXT-INDENT: 7px; VERTICAL-ALIGN:center;BORDER:1px solid #e0e0e0;PADDING-LEFT: 6px;PADDING-RIGHT: 6px;}
.gray_dg_td_selected { font-family: Arial, Helvetica, sans-serif, Verdana; FONT-SIZE:12px; BACKGROUND-COLOR: #f0f0f0; VERTICAL-ALIGN:center;LINE-HEIGHT: 17px;TEXT-INDENT: 7px; BORDER:1px solid #e0e0e0;PADDING-LEFT: 6px;PADDING-RIGHT: 6px;}

.gray_dg_button { FONT-SIZE:11px;  }
.gray_dg_select { FONT-SIZE:11px; }
.gray_dg_label { FONT-SIZE: 11px;  }
.gray_dg_textbox { font-family: Arial, Helvetica, sans-serif, Verdana; FONT-SIZE:12px;  border:1px #cccccc solid; margin:0px; padding:2px;padding-left:4px; COLOR: #505050;}
.gray_dg_checkbox { }
.gray_dg_radiobutton { }
.gray_dg_caption {FONT-SIZE: 14px; font-family: Arial, Helvetica, sans-serif, Verdana; FONT-WEIGHT: bold; TEXT-ALIGN:center; PADDING-BOTTOM: 0;}
.gray_dg_error_message { FONT: normal 12px; COLOR: #a61100; }
.gray_dg_warning_message { FONT: normal 12px; COLOR: #d2791e; }
.gray_dg_ok_message { FONT: normal 12px; COLOR: #449944; }





